/* font-family: "Jost", sans-serif; */
/* font-weight: 100 - 900 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #e41c6f;
  --section-projects-bg-color: #eef;
  --form-bg-color: #eef;
  --footer-bg-color: #222;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
a,
button,
input[type="submit"] {
  cursor: pointer;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  object-fit: cover;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* ------------------------------------ */
/* --------------Navbar---------------- */
.navbar {
  width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
.navbar__link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
}
.navbar__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  transform: scale(0);
  transform-origin: left;
}
.navbar__link:hover {
  color: #fff;
  transition: color 0.4s;
}
.navbar__link:hover::before {
  transform: scale(1);
  transition: transform 0.4s;
}
/* --------------Section 1 Home---------------- */
.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url(./images/bg.jpg) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.section-1__heading {
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  transform: skew(-10deg);
}
.section-1__person-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;

  border: 0.7rem dotted var(--primary-color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  opacity: 0.8;
}
.section-1__person-name {
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}
.section-1__btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

/* --------------Section 2 About Me---------------- */
.section-2 {
  width: 100%;
  height: 100vh;
  padding: 15rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2__progress-bars {
  margin-bottom: 10rem;
}
.progress-bar {
  width: 60rem;
  height: 3rem;
  margin: 1.5rem 0;
  background-color: #ccc;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
}
.progress-text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #fff;
  z-index: 10;
}
.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.progress-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  border-radius: 0.3rem;
  z-index: 0;
  background-color: var(--primary-color);
}
.section-2__services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.service {
  text-align: center;
}
.service:first-child,
.service:last-child {
  align-self: flex-start;
}
.service i {
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}
.service__heading {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* --------------Section 3 Projects---------------- */
.section-3 {
  width: 100%;
  height: auto;
  padding: 10rem 0;
  background-color: var(--section-projects-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3__projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}
.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}
.project__text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  transition: top 0.3s;
  z-index: 10;
}
.project:hover .project__text {
  top: 5rem;
}
.project__name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}
.project__technologies {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 400;
}
.project__img {
  width: 40rem;
  transition: opacity 0.3s;
}
.project__link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid var(--primary-color);
  background-color: #fff;
  padding: 0 1rem;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s 0.4s;
}
.project:hover .project__img {
  opacity: 0.3;
}
.project:hover .project__link {
  bottom: 5rem;
}
/* --------------Section 4 Form---------------- */
.section-4 {
  width: 100%;
  height: 80vh;
  background-color: #333;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-heading {
}
.section-4-heading {
  color: #fff;
  text-shadow: none;
  border-bottom-color: #fff;
  margin-bottom: 5rem;
}
.contact__form {
  width: 50rem;
  flex-direction: column;
  gap: 1rem;
}
.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--form-bg-color);
  border: 0.2rem solid var(--primary-color);
}
.contact__form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 15rem;
  min-height: 10rem;
}
.contact__form .contact__form-btn {
  font-size: 2rem;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

/* --------------Footer---------------- */
.footer {
  width: 100%;
  height: 30vh;
  background-color: var(--footer-bg-color);
  color: #fff;
  flex-direction: column;
  gap: 5rem;
}
.social-media {
}
.social-media-link {
  margin: 0 2rem;
  padding: 0.7rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  display: inline-block;
}
.social-media-link i {
  font-size: 3rem;
  color: #fff;
}
.copyright {
  font-size: 2rem;
  color: #888;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}
